.mask{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid #2950FF;
    z-index: 9999;
    pointer-events: none;
    transition: border .4s;
}

.mask-click{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .4s;
}
.mask-click:before{
    content: "Clique";
    font-size: 12px;
    color: #000000;
    font-weight: 300;
}